    @charset "UTF-8";
    /*==================================================================
	0. BoxModel change
===================================================================*/
    
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    /* ------------------------------------------------------------------
	1. Reset styles
-------------------------------------------------------------------*/
    
    html {
        overflow-x: hidden;
        background: #FFF;
    }
    
    body {
        overflow-x: hidden;
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
        word-wrap: break-word;
    }
    
    body,
    div,
    dl,
    dt,
    dd,
    ul,
    ol,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    object,
    iframe,
    pre,
    code,
    p,
    blockquote,
    form,
    fieldset,
    legend,
    table,
    th,
    td,
    caption,
    tbody,
    tfoot,
    thead,
    article,
    aside,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section,
    audio,
    video,
    canvas {
        margin: 0;
        padding: 0;
    }
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    nav,
    section,
    menu {
        display: block;
    }
    
    audio:not([controls]) {
        display: none;
        height: 0;
    }
    
    [hidden] {
        display: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    fieldset,
    img {
        border: none;
    }
    
    address,
    caption,
    cite,
    code,
    dfn,
    em,
    strong,
    th,
    var {
        font-style: normal;
        font-weight: normal;
    }
    
    ul,
    ol,
    menu {
        list-style: none;
    }
    
    caption,
    th {
        text-align: left;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 100%;
        font-weight: normal;
    }
    
    q:before,
    q:after {
        content: '';
    }
    
    abbr,
    acronym {
        border: none;
        font-variant: normal;
    }
    
    sup {
        vertical-align: text-top;
    }
    
    sub {
        vertical-align: text-bottom;
    }
    
    input,
    textarea,
    select {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }
    
    legend {
        color: #000;
    }
    
    a img,
    map a {
        border: none;
    }
    
    a:hover,
    a:active,
    a:focus {
        outline: 0;
    }
    
    embed {
        width: 100%;
    }
    
    audio,
    canvas,
    video {
        display: inline-block;
    }
    
    audio:not([controls]) {
        display: none;
        height: 0;
    }
    
    img,
    object,
    embed {
        max-width: 100%;
        height: auto;
    }
    
    object,
    embed {
        height: 100%;
    }
    
    img {
        -ms-interpolation-mode: bicubic;
        line-height: 1;
        vertical-align: bottom;
    }
    /* Font styles
-------------------------------------------------------------------*/
    
    body {
        font: 13px/1.231 Verdana, Arial, sans-serif;
    }
    
    select,
    input,
    button,
    textarea,
    button {
        font: 99% arial, sans-serif;
    }
    
    table {
        font-size: inherit;
        font: 100%;
    }
    
    pre,
    code,
    kbd,
    samp,
    tt {
        font-family: monospace;
        line-height: 1;
    }
    /* General styles
-------------------------------------------------------------------*/
    
    table {
        empty-cells: show;
    }
    
    input {
        line-height: 1;
    }
    
    form img,
    input,
    select {
        vertical-align: middle;
    }
    
    textarea {
        resize: none;
    }
    
    select {
        padding: 1px;
    }
    
    label {
        margin-right: 5px;
    }
    
    legend {
        display: none;
    }
    
    input[type="text"],
    input[type="password"],
    textarea {
        padding: 3px 4px 0 3px;
        border: 1px solid #999;
        border-right: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        font-size: 13px;
    }
    /* ------------------------------------------------------------------
	1-2. VisualFormattingModel styles
-------------------------------------------------------------------*/
    
    .clearfix {
        zoom: 1;
    }
    
    .clearfix:after {
        display: block;
        clear: both;
        content: "";
    }
    
    .clear {
        clear: both !important;
    }
    /*-----------------------------------------------------------
Link
------------------------------------------------------------*/
    
    a:link {
        color: #333;
        text-decoration: none;
    }
    
    a:visited {
        color: #333;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: none;
        -moz-transition: all 0.26s ease-out;
        -o-transition: all 0.26s ease-out;
        -webkit-transition: all 0.26s ease-out;
        -ms-transition: all 0.26s ease-out;
    }
    
    a:active {
        color: #64AB18;
        text-decoration: none;
    }
    /*==================================================================
	2 Layout setting
===================================================================*/
    /*-----------------------------------------------------------
Body
-------------------------------------------------------------*/
    
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        line-height: 1.6;
        letter-spacing: 0;
        font-size: 14px;
        color: #333;
        min-width: 320px;
        font-family: 'Roboto', sans-serif;
    }
    
    .font_play {
        font-family: 'Playfair Display', serif;
    }
    
    .pc {
        display: block !important;
        ;
    }
    
    .sp {
        display: none !important;
        ;
    }
    
    .noDisplay {
        display: none !important;
    }
    
    .maxW {
        margin: 0 auto;
        max-width: 1020px;
        padding-left: 10px;
        padding-right: 10px;
    }
    /*-----------------------------------------------------------
Header
------------------------------------------------------------*/
    
    #header {
        width: 100%;
        margin: 0 auto;
        padding: 10px 0;
        position: relative;
        z-index: 500;
        background: #fff;
    }
    
    #logo img {
        height: 70px;
    }
    
    .headerInner {
        max-width: 1230px;
        margin: 0 auto;
        padding: 0 15px;
    }
    
    .gNavi li {
        margin: 0 30px;
    }
    
    .gNavi li a {
        display: block;
        position: relative;
        padding: 5px 0;
        overflow: hidden;
    }
    
    .gNavi li a::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        height: 1px;
        width: 100%;
        background: #000;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
    }
    
    .gNavi li a::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: -100%;
        height: 1px;
        width: 100%;
        background: #000;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
    }
    
    .gNavi li a:hover::before {
        left: 0;
    }
    
    .gNavi li a:hover::after {
        right: 0;
    }
    
    #top .gNavi li:nth-child(1) a::before {
        left: 0;
    }
    
    #top .gNavi li:nth-child(1) a::after {
        right: 0;
    }
    
    #products .gNavi li:nth-child(2) a::before {
        left: 0;
    }
    
    #products .gNavi li:nth-child(2) a::after {
        right: 0;
    }
    
    #blog .gNavi li:nth-child(3) a::before {
        left: 0;
    }
    
    #blog .gNavi li:nth-child(3) a::after {
        right: 0;
    }
    
    #about .gNavi li:nth-child(4) a::before {
        left: 0;
    }
    
    #about .gNavi li:nth-child(4) a::after {
        right: 0;
    }
    
    .langBar {
        padding-left: 15px;
        position: relative;
        cursor: pointer;
    }
    
    .langBar li {
        line-height: 1;
        text-transform: uppercase;
    }
    
    .langBar li a {
        display: block;
        position: relative;
        padding-right: 15px;
    }
    
    .langBar:before {
        content: "";
        position: absolute;
        left: 0;
        top: 15%;
        width: 5px;
        height: 5px;
        border-left: 2px solid #000;
        border-top: 2px solid #000;
        -moztransform: rotate(225deg);
        -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        transform: rotate(225deg);
    }
    
    .langBar li:nth-child(2) {
        display: none;
    }
    
    .break {
        max-width: 1230px;
        padding: 0 15px;
        margin: 0 auto 80px;
    }
    
    .break li {
        position: relative;
        padding-right: 25px;
        margin-right: 20px;
        font-size: 12px;
        color: #808080;
    }
    
    .break li a {
        color: #808080;
    }
    
    .break li:before {
        content: "";
        position: absolute;
        right: 0;
        top: 30%;
        width: 6px;
        height: 6px;
        border-left: 1px solid #808080;
        border-top: 1px solid #808080;
        -moztransform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    
    .break li:last-child:before {
        border: none;
    }
    /*-----------------------------------------------------------
Container
------------------------------------------------------------*/
    
    #container {
        clear: both;
        margin: 0 auto 50px;
        max-width: 1020px;
        padding-left: 10px;
        padding-right: 10px;
    }
    /*-----------------------------------------------------------
PageTop
------------------------------------------------------------*/
    /*-----------------------------------------------------------
Footer
------------------------------------------------------------*/
    
    #footer {
        clear: both;
        width: 100%;
        background: url('../img/footer/bg_footer.jpg') no-repeat;
        background-size: cover;
        padding: 90px 15px;
        margin-top: 120px;
    }
    
    #footer .subFooter {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    #top #footer {
        display: none;
    }
    
    .lstFoot li {
        padding: 0 25px;
        line-height: 1;
        border-left: 1px solid #fff;
    }
    
    .lstFoot li a {
        color: #fff;
    }
    
    .lstFoot li:first-child {
        border: none;
        padding-left: 0;
    }
    
    .lstSocial li a {
        color: #fff;
        width: 30px;
        height: 30px;
        border: 1px solid #fff;
        display: inline-block;
        border-radius: 100%;
        text-align: center;
        line-height: 30px;
        margin: 0 10px;
    }
    
    .copyright {
        text-align: center;
        font-size: 13px;
        margin-top: 40px;
        color: #fff;
        font-weight: 300;
        letter-spacing: 2px;
    }
    
    .copyright a {
        color: #fff !important;
    }
    
    .copyright a img {
        max-height: 30px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
    }
    /*---*/
    
    .flexBox {
        display: flex;
        display: -webkit-flex;
    }
    
    .flexBox--center {
        align-items: center;
    }
    
    .flexBox--top {
        align-items: flex-start;
    }
    
    .flexBox--between {
        justify-content: space-between;
    }
    
    .flexBox--arround {
        justify-content: space-around;
    }
    
    .flexBox--wrap {
        flex-wrap: wrap;
    }
    
    .flexBox--reserve {
        flex-direction: row-reverse;
    }
    /* Smartphone */
    
    #pageTop {
        position: fixed;
        bottom: 50px;
        right: 40px;
        opacity: 0;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        z-index: 900;
    }
    
    #pageTop img {
        height: 150px;
    }
    
    .loading {
        background: #000;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1500;
    }
    
    .loading .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        animation: toa 2s infinite;
        border-radius: 100%;
    }
    
    .loading .logo img {
        animation: scaled 2s infinite;
        height: 180px;
    }
    
    .wp-pagenavi {
        clear: both;
        text-align: center;
        margin-top: 60px;
    }
    
    .wp-pagenavi a,
    .wp-pagenavi span {
        text-decoration: none;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        display: inline-block;
        vertical-align: middle;
        line-height: 36px;
        margin: 0 5px;
    }
    
    .wp-pagenavi a:hover,
    .wp-pagenavi span.current {
        background: #000;
        color: #fff;
    }
    
    .wp-pagenavi span.current {
        font-weight: bold;
        color: #fff;
    }
    
    @media only screen and (max-width: 767px) {
        body {
            font-size: 13px;
        }
        .pc {
            display: none !important;
        }
        .sp {
            display: block !important;
        }
        .logo_sp img {
            height: 50px;
        }
        .headerSp {
            padding: 0 15px;
        }
        .flexBox--nosp {
            display: block !important;
        }
        .flexBox--sp_reserve {
            flex-direction: column-reverse;
        }
        .naviSp {
            position: fixed;
            background: #fff;
            width: 100%;
            height: 100vh;
            z-index: 900;
            top: 0;
            left: 0;
            display: none;
        }
        .naviSp .wrap {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            left: 0;
        }
        .naviList li {
            margin: 30px 0;
            text-align: center;
        }
        .naviList li a {
            font-size: 21px;
        }
        .langBar {
            width: 40%;
            margin: 20px auto;
            border: none;
            padding: 0;
            position: relative;
        }
        .langBar li a {
            border: 1px solid #cccccc;
            position: relative;
            text-align: center;
            padding: 10px 0;
        }
        .langBar li {
            text-align: center;
        }
        .langBar:before {
            display: none;
            content: "";
            position: absolute;
            right: 20px;
            top: 25%;
            width: 10px;
            height: 10px;
            border-left: 2px solid #000;
            border-top: 2px solid #000;
            -moztransform: rotate(225deg);
            -webkit-transform: rotate(225deg);
            -ms-transform: rotate(225deg);
            transform: rotate(225deg);
        }
        #footer {
            padding: 60px 15px;
            text-align: center;
        }
        .break {
            margin-bottom: 40px;
        }
    }
    /* End Smartphone */